<app-header></app-header>
<div class="container mt-5">
    <div class="row mb-1 form-name">
        <a class="" [routerLink]="['/user/upload-product']"><u>Upload Product</u></a>
    </div>
    <!-- Product Upload Form -->
    <div class="row mb-2 pt-4 form-name">
        <label class="h3">Product List</label>
    </div>
    <div class="row row-sm">
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/dp2.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/default-product-image.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/dp2.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/dp3.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
        <div class="card card-width mt-4 mb-4 mr2">
            <img src="{{../../../../../../assets/images/dp4.jpg" class="card-img-top border-bottom-gray" alt="Product image">
            <div class="card-body">
                <h5 class="card-title h6">Name: Lorem Ipsum</h5>
                <h5 class="card-title h6">Rate: &#8377;20</h5>
                <p class="card-text h6">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                <button class="btn btn-info btn-sm pull-right">Buy Now</button>
            </div>
        </div>
    </div>
</div>