@import "../upload-product/upload-product.component.scss";

@media (min-width: 768px) {
  .mr2 {
    margin-right: 10px;
  }
  .card-width {
    width: 23%;
  }
}

@media (max-width: 768px) {
  .row-sm {
    margin-right: 0;
    margin-left: 0;
  }
}
