input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input#file {
  display: inline-block;
  width: 20%;
  padding: 40px 0 0 0;
  height: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../../../assets/images/image-upload.png") center center no-repeat;
  border-radius: 10px;
  background-size: 40px 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-width {
  width: 25%;
}

.border-bottom-gray {
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 768px) {
  .form-wrapper {
    margin: 0;
  }

  .card-width {
    width: 100%;
    margin-left: initial;
  }

  .form-name {
    margin-left: initial;
  }
}
