<div class="container">
    <div class="row">
        <form [formGroup]="orderForm">
            <div class="col" formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i: index">
                <div class="col-md-12" [formGroupName]="i">
                    <input formControlName="name" placeholder="Item name">
                    <input formControlName="description" placeholder="Item description">
                    <input formControlName="price" placeholder="Item price">
                    <span class="col-md-2">
                        <button class="btn btn-primary px-4 mx-2" type="button" (click)="addItem()">Add</button>
                        <button class="btn btn-danger" type="button" (click)="removeItem(i)">Remove</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>